<ion-tabs class="tabs-positive tabs-icon-top">
    <ion-tab title="主页" icon-on="ion-ios-home" icon-off="ion-ios-home-outline" ui-sref="tabs.home">
        <ion-nav-view name="tab-home"></ion-nav-view>
    </ion-tab>
    <ion-tab title="通知" icon-on="ion-ios-bell" icon-off="ion-ios-bell-outline" ui-sref="tabs.notice"  badge="3">
        <ion-nav-view name="tab-notice"></ion-nav-view>
    </ion-tab>
    <ion-tab title="私信" icon-on="ion-ios-email" icon-off="ion-ios-email-outline" ui-sref="tabs.massage">
        <ion-nav-view name="tab-massage"></ion-nav-view>
    </ion-tab>
    <ion-tab title="我" icon-on="ion-ios-person" icon-off="ion-ios-person-outline" ui-sref="tabs.user">
        <ion-nav-view name="tab-user"></ion-nav-view>
    </ion-tab>
</ion-tabs>